<title>Dreamjob Deliverer</title>

<!-- jQuery -->
<script type='text/javascript' src='/js/jquery-2.2.4.min.js'></script>

<!-- Bootstrap CSS -->
<link rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap.min.css'>
<!-- Optional theme -->
<link rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap-theme.min.css'>

<!-- Bootstrap js -->
<script type='text/javascript' href='/bootstrap/dist/js/bootstrap.min.js' src=''></script>

<!-- Additional Bootstrap js -->
<script type='text/javascript' src='/bootstrap/js/affix.js'></script>
<script type='text/javascript' src='/bootstrap/js/alert.js'></script>
<script type='text/javascript' src='/bootstrap/js/button.js'></script>
<script type='text/javascript' src='/bootstrap/js/carousel.js'></script>
<script type='text/javascript' src='/bootstrap/js/collapse.js'></script>
<script type='text/javascript' src='/bootstrap/js/dropdown.js'></script>
<script type='text/javascript' src='/bootstrap/js/modal.js'></script>
<script type='text/javascript' src='/bootstrap/js/scrollspy.js'></script>
<script type='text/javascript' src='/bootstrap/js/tab.js'></script>
<script type='text/javascript' src='/bootstrap/js/tooltip.js'></script>
<script type='text/javascript' src='/bootstrap/js/popover.js'></script>
<script type='text/javascript' src='/bootstrap/js/transition.js'></script>

<!-- Site js -->
<script type='text/javascript' src='/js/main.js'></script>

<!-- Site CSS -->
<link rel='stylesheet' type='text/css' href='/css/main.css'>