<title>Dreamjob Deliverer</title>

<!-- jQuery -->
<script type='text/javascript' src='/js/jquery-2.2.4.min.js'></script>

<!-- Bootstrap CSS -->
<link rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap.min.css'>
<!-- Optional theme -->
<link rel='stylesheet' type='text/css' href='/bootstrap/dist/css/bootstrap-theme.min.css'>

<!-- Bootstrap js -->
<script type='text/javascript' href='/bootstrap/dist/js/bootstrap.min.js' src=''></script>

<!-- Site CSS -->
<link rel='stylesheet' type='text/css' href='/css/main.css'>