/* Site wide css file */

.big-colon {
	font-size: 24pt;
}

.scrolling-list {
	overflow-y:scroll;
}

.glyph-td {
	text-align: center;
	vertical-align: middle;
}

.glyph {
	font-size: 16pt;
}

.one-line {
	overflow-x: auto;
	white-space: nowrap;
}

.one-line a {
	position: absolute;
	right: 1.5em;
}

.popover-content {
	overflow-x: auto;
	white-space: nowrap;
}

h4 {
	word-wrap: break-word;
}

button[id^=schedule-] {
	padding: 0.5em;
	margin-top: 1em;
}