<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
	<!-- Create page script -->
	<script type='text/javascript' src='/js/create.js'></script>
</head>

<body>

<div class='container-fluid'>
	<h2 style='text-align:center; padding:10px;'>Create a New Test</h2>
	
	<div class='row'>
		<div class='col-md-2'></div>

		<div class='col-sm-12 col-md-8'>
			<!-- Upload field and button -->
			<form class='form' role='form' method='POST' name='test_form' id='test_form' enctype='multipart/form-data'>
				<div class='form-group form-group-lg'>
					<label for='title'>Test Title (20 characters max):</label>
					<input type='text' maxlength='20' class='form-control' name='title' id='title' required autofocus>
				</div>
				
				<div class='form-group'>
					<label for='description'>Test Description (256 characters max):</label>
					<textarea class='form-control' rows='3' maxlength='256' name='description' id='description'></textarea>
				</div>
				
				<label for='select_file'>Intructions File (1GB max):</label>
				<div class='input-group input-group-lg'>
					<label class='input-group-btn'>
						<span class='btn btn-default'>
							Browse
							<input class='form-control-static' type='file' accept='.pdf' name='select_file' id='select_file' style='display:none' />
						</span>
					</label>
					<input class='form-control' type='text' name='file_name' id='file_name' placeholder='Select an instructions file to upload' required />
				</div>
				<br/>
				
				<div class='btn-group btn-group-justified'>
					<div class='btn-group btn-group-lg'>
						<input class='btn btn-primary' type='submit' id='submit' value='Submit' />
					</div>
					<div class='btn-group btn-group-lg'>
						<input id='cancel' class='btn btn-primary' type='button' value='Cancel' />
					</div>
				</div>
			</form>
		</div>

		<div class='col-md-2'></div>
	</div>
	
</div>

</body>
</html>
