<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class='container'>

	<div class='jumbotron'>
		<h1 style='text-align: center;'>Dreamjob Deliverer</h1>
		<hr/>
		<p>
			You are seeing this page because the URL was incorrect or your test has not yet started or already ended. For more information contact your test administrator.
		</p>
	</div>

</div>

</body>
</html>
