<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
	<!-- Moment js -->
	<script type='text/javascript' src='/js/moment.min.js'></script>
	
	<!-- Additional Bootstrap js -->
	<script type='text/javascript' src='/bootstrap/js/transition.js'></script>
	<script type='text/javascript' src='/bootstrap/js/collapse.js'></script>
	
	<!-- Bootstrap datetimepicker -->
	<link rel='stylesheet' type='text/css' href='/css/bootstrap-datetimepicker.min.css'>
	<script type='text/javascript' src='/js/bootstrap-datetimepicker.min.js'></script>
	
	<!-- Schedule page script -->
	<script type='text/javascript' src='/js/schedule.js'></script>
</head>

<body>

<div class='container-fluid'>
	<h2 style='text-align:center; padding:10px;'>Schedule a Test</h2>

	<div class='row'>
		<div class='col-md-2'></div>

		<div class='col-sm-12 col-md-8'>
			<!-- Upload field and button -->
			<form class='form' role='form' name='test_form' id='test_form'>
				<div class='form-group form-group-lg'>
					<label for='candidate'>Candidate Name or Email: </label>
					<input type='text' class='form-control' name='candidate' id='candidate' required>
				</div>
				
				<!-- <div class='form-group form-group-lg'>
					<label for='starttime'>Start Date and Time:</label>
					<input type='text' class='form-control datetimepicker' name='starttime' id='starttime' required>
				</div>
				
				<div class='form-group form-group-lg'>
					<label for='endtime'>End Date and Time:</label>
					<input type='text' class='form-control datetimepicker' name='endtime' id='endtime' required>
				</div> -->
				
				<label for='starttime'>Start Date and Time:</label>
				<div id='starttime'></div>
				<br>
				
				<label for='endtime'>End Date and Time:</label>
				<div id='endtime'></div>
				<br>
				
				<div class='btn-group btn-group-justified'>
					<div class='btn-group btn-group-lg'>
						<input class='btn btn-primary' type='submit' value='Submit' />
					</div>
					<div class='btn-group btn-group-lg'>
						<input class='btn btn-primary' type='button' value='Cancel' />
					</div>
				</div>
			</form>
		</div>

		<div class='col-md-2'></div>
	</div>
	
</div>

</body>
</html>
