<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
	<!-- PDF js for displaying in canvas -->
	<script type='text/javascript' src='/js/build/pdf.js'></script>
	<script type='text/javascript' src='/js/build/pdf.worker.js'></script>
    
    <!-- We must load give PDF.js the bytea data of the pdf from the database -->
    <script>
        var pdfPath = '<%= test_path %>';
        
        
        
        var BASE64_MARKER = ';base64,';

        function convertDataURIToBinary(dataURI) {
            var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
            var base64 = dataURI.substring(base64Index);
            var raw = window.atob(base64);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            for(var i = 0; i < rawLength; i++) {
                array[i] = raw.charCodeAt(i);
            }
            return array;
        }
        
        
        var pdfAsDataUri = "data:application/pdf;base64," + '<%= instr_data %>';
        var pdfAsArray = convertDataURIToBinary(pdfAsDataUri);
    </script>
    
    
    
	
	<script type='text/javascript'>
		var end_time = '<%= test_instance.end_time %>';
	</script>
	
	<!-- Test page script -->
	<script type='text/javascript' src='/js/test.js'></script>
</head>

<body oncontextmenu='return false;'>

<div class='container-fluid'>
	<h2 style='text-align:center; padding:10px;'><%= test_instance.test_title %></h2>
	
	<div class='row' style='min-height:64px'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-6 col-md-4'>
			<!-- Upload field and button -->
			<form class='form' role='form' method='post' name='test_form' id='test_form'>
				<div class='input-group input-group-lg'>
					<label class='input-group-btn'>
						<span class='btn btn-default'>
							Browse
							<input class='form-control-static' type='file' id='select_file' style='display:none' required />
						</span>
					</label>
					<input class='form-control' type='text' id='file_name' value='Select a file to upload' readonly />
					
					<span class='input-group-btn'>
						<button class='btn btn-primary' type='submit'>Submit</button>
					</span>
				</div>
			</form>
		</div>
		
		<div class='col-sm-6 col-md-4'>
			<!-- Time remaining -->
			<div class='inline pull-right'>
				<button class='btn btn-warning btn-lg' id='time_button' data-toggle='collapse' data-target='#time_remaining'>Time Remaining</button>
			</div>
			<div id='time_remaining' class='collapse input-lg inline pull-right'></div>
			<div style='clear:both'></div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8'>
			<!-- Upload success -->
			<div class='alert alert-success fade in' hidden>
				<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
				<strong>Success!</strong> The file &lt;&lt;filename here&gt;&gt; uploaded successfully.<br/>You can always submit again if necessary.
			</div>
			<div class='alert alert-danger fade in' hidden>
				<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>
				<strong>Fail!</strong> Select a file before submitting.
			</div>
		</div>
		
		<div class='col-md-2'></div>
	</div>
	
	<hr />
	
	<div class='row'>
		<div class='col-md-2'></div>
		
		<div class='col-sm-12 col-md-8' id='pdf_div'>
			<!-- Test PDF display -->
		</div>
		
		<div class='col-md-2'></div>
	</div>
</div>

</body>
</html>
